<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63337751862-arssctc4ft4hcja9j3pgecot039lglus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63337751862-arssctc4ft4hcja9j3pgecot039lglus</string>
	<key>API_KEY</key>
	<string>AIzaSyCtKVG8KYB9aMwiRXwKys68KL3VppW1b3A</string>
	<key>GCM_SENDER_ID</key>
	<string>63337751862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rozkladmksumdu</string>
	<key>PROJECT_ID</key>
	<string>rozkladmksumdu</string>
	<key>STORAGE_BUCKET</key>
	<string>rozkladmksumdu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63337751862:ios:86b90b05967ab2d11f3f97</string>
</dict>
</plist>